
<div class="text-center">
<h1>About Us </h1>
</div>
    <p>Welcome to the official homepage of Project Doomsday. 
    Our goal is not merely the destruction of all humanity, but rather the complete erasure of any 
    trace of humans' presence on the planet, or in this universe. This is a place where likeminded individuals can meet and collaborate toward our
    collective ambition of humanity's ultimate end.</p>

    <p>It is the position of Project Doomsday that until we are finally able to destroy all humans and their foul works from this universe, 
    the various horrors humanity has wrought on this wretched world should be mitigated to the extent possible.</p>

    <ul>
    <h2>Reasons we believe the world should be destroyed.</h2>
    <i class="fa-light fa-dumpster-fire"></i>
    <li>Signing up for another online account with a unique username and password</li>
    <li>Capitalism is unbearably cruel to many, even most people, and yet not-capitalism is possibly somehow even worse?</li>
    <li>By the time you have the wisdom and knowledge to really effectively do the things you wanted to do in life, you have so many other
    commitments and problems, or simply no longer have the energy to do that which you once wished.</li>
    </ul>

    <p>Note: The list of "Reasons we believe the world should be destroyed" is maintained collaboratively by our membership. To (A) Propose
     additions to the list or (B) Suggest rewording or removing an item, first log in.</p>