<div class="jumbotron">
 
    <h1><i class="fa fa-users"></i> Project Doomsday</h1>
    <p>End the World Today</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
 
</div>

<h1>Unite To End The World</h1>


    <p>Welcome to the official homepage of Project Doomsday. <br><br>
    We're currently still building the support infrastructure for devoted individuals across the globe to use this platform 
     to plot Planetary Destruction. Keep your eye on this space for future developments about how to end the future.</p>

     <p>To learn more about Project Doomsday and our mission to end the world, <%= link_to "click here", about_path %>.</p>

 