<div class="jumbotron">
 
    <h1>Project Doomsday</h1>
    <p>End the World Today</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
 
</div>

<h1>Unite To End The World</h1>


    <p>Welcome to the official homepage of Project Doomsday. 
    Our goal is not merely the destruction of all humanity, but rather the complete erasure of any 
    trace of humans' presence on the planet, or in this universe. This is a place where likeminded individuals can meet and collaborate toward our
    collective ambition of humanity's ultimate end.</p>

    <p>It is the position of Project Doomsday that until we are finally able to destroy all humans and their foul works from this universe, 
    the various horrors humanity has wrought on this wretched world should be mitigated to the extent possible.</p>

 