<!DOCTYPE html>
<html>
<head></head>
<body>

    <p>You got a message through the Project Doomsday contact form. It is from 
    <%= "#{ @name }, #{ @email }."  %> </p>
    
    <p><%= @body %></p>

</body>
</html>